@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background-color: #daebd6;
}

.App {
  max-width: 80%;
  min-width: 1000px;
  padding-left: 2%;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
}

.leftside {
  /* flex-basis: 20%; */
  height: 85vh;
  background-color: rgb(56, 187, 144);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: #2c4027a5 0px 5px 10px;
  position: sticky;
  top: 3%;
}

.citylist {
  overflow: auto;
  height: 80%;
}

.lister {
  background-color: #2c402763;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
  padding-bottom: 1rem;
}

.lister-button {
  background-color: aliceblue;
  padding: 1% 9%;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.lister-button:hover,
.lister-button-rotated90:hover {
  background-color: rgb(154, 202, 243);
}


.archive-table-container {
  border: 1px solid #2c4027;
  width: 500px;
  border-collapse: collapse;
}

.data-cell {
  max-height: 10rem;
  width: 520px;
  overflow: auto;
}

.archive-table-wrapper {
  margin-bottom: 2rem;
}

.archive-table-wrapper>h3 {
  text-align: center;
  width: 500px;
}

.left-side-header {
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding: 2rem 0 1rem 0;
  background-color: #2c402763;
  color: antiquewhite
}

.left-side {
  border-radius: 0.6rem 0 0 0.6rem;
}

.right-side {
  border-radius: 0 0.6rem 0.6rem 0;
}

.archive-data {
  border: 2px dotted bl;
  padding: 1vw;
}

.grapf-container {
  display: flex;
  width: 600px;
}

.lister-button-rotated90 {
  position: relative;
  width: 1.6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s ease-out;
}

.archive-table {
  text-align: center;
  border: 1px solid #2c4027;
  border-collapse: collapse;
  width: 33.3%;
}

.main-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.rightside {
  /* flex-basis: 40%; */
  margin-left: 15px;
}

.row {
  flex: 33.3%;
  display: flex;
  /* width: 27rem; */
  flex-direction: row;
  border: 2px solid #10180e;
}

.temperature-graph-title {
  text-align: center;
  width: 500px;
}

.city-search-input {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.2 rem;
  width: 70%;
  height: 1.8rem;
  color: #2c4027;
  padding-left: 0.5rem;
  background-color: beige;
  border-radius: 0.3rem;
}

.city {
  margin-top: .3rem;
  background-color: #daebd6;
  padding-left: 0.3rem;
}

.button {
  margin: 0.5rem 0;
  align-self: center;
  background-color: #227950bd;
  border: 1px solid antiquewhite;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 2rem;
  box-shadow: #2c4027ac 0px 2px 5px;
  cursor: pointer;
  padding: 1% 9%;
  color: antiquewhite;
  transition: all .2s ease-out;
}

.button:hover,
.button:active,
.button:focus {
  color: #227950bd;
  background-color: antiquewhite
}

.active-record {
  background-color: darkblue;
  color: antiquewhite
}

.archive-body-header {
  margin: 1rem 0 0.3rem 1rem;
  text-align: center;
  width: 500px;
}

[data-tooltip] {
  position: relative;
  /* Относительное позиционирование */
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  /* Выводим текст */
  position: absolute;
  text-align: center;
  /* Абсолютное позиционирование */
  width: 210px;
  /* Ширина подсказки */
  left: 2rem;
  top: 0;
  border-radius: 5px;
  /* Положение подсказки */
  background: #d0e962e8;
  /* Синий цвет фона */
  color: #292424;
  /* Цвет текста */
  padding: 0.5em;
  /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* Параметры тени */
  pointer-events: none;
  /* Подсказка */
  opacity: 0;
  /* Подсказка невидима */
  transition: 1s;
  /* Время появления подсказки */
}

[data-tooltip]:hover::after {
  opacity: 1;
  /* Показываем подсказку */
  top: 3em;
  /* Положение подсказки */
}

.triangle-foreground-left {
  position: absolute;
  right: 1px;
  border: 0 solid transparent;
  border-top-width: 200px;
  border-bottom-width: 200px;
  border-right: 18px solid #daebd6;
  transition: background-color 0.2s ease-out;
}

.triangle-foreground-right {
  position: absolute;
  left: 1px;
  border: 0 solid transparent;
  border-top-width: 200px;
  border-bottom-width: 200px;
  border-left: 18px solid #daebd6;
  transition: background-color 0.2s ease-out;
}

.lister-button-rotated90:hover .triangle-foreground-left {
  border-right: 18px solid #fff
}

.lister-button-rotated90:hover .triangle-foreground-right {
  border-left: 18px solid #fff
}

.viewer-counter {
  position: relative;
text-align: right;
margin-right: 10%;
font-weight: 700;
font-size: 1em;
}